@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .container.container-mini {
    max-width: 1158px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: url(../images/desktop-bg.png), url(../images/hero-img.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    min-width: 496px;
  }

  .address-menu {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .benefits {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  .benefits-description {
    font-weight: 400;
  }
  .benefits-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .benefits-item {
    flex-basis: calc((100% - 24px) / 4);
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    justify-content: center;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .footer-flex {
    flex-wrap: nowrap;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subscribe-container {
    margin-left: 80px;
  }
  .email-input {
    flex-wrap: nowrap;
  }
  .footer-container {
    margin-left: 0;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .social-container {
    margin-bottom: 0;
  }
}
