@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .container-mini {
    max-width: 290px;
  }

  .hero{
    background-image: url(../images/Dark-bg.png), url(../images/tablet-image.jpg);
  }
}
