@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .container-mini,
  .customers-mini {
    max-width: 582px;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: url(../images/Dark-bg.png), url(../images/hero-img.jpg);
    min-width: 768px;
  }

  .active {
    position: relative;
    color: #404bbf;
  }

  .modal {
    width: 408px;
  }

  .active::after {
    position: absolute;
    content: "";
    background: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    bottom: -28px;
    left: 0;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/desktop-bg.png),
        url(../images/hero-img-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .address-menu {
    display: inline-block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }

  .benefits-list {
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-list {
    justify-content: center;
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-logo {
    justify-content: start;
  }
  .footer-container {
    margin-left: 108px;
    margin-right: 24px;
  }
  .social-container {
    margin-left: 0;
  }
  .subscribe-container {
    text-align: left;
    margin-left: 108px;
  }
  .subscribe-input {
    width: 264px;
    margin-right: 24px;
  }
}
